<div class="min-h-screen flex items-center justify-center">
  <form class="w-full max-w-screen-sm" (submit)="register()">
    <mat-card>
      <mat-card-title class="pb-2">Registrar-se</mat-card-title>
      <mat-card-content>
        <div class="flex flex-col">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input
              matInput
              placeholder="Nome"
              name="name"
              [(ngModel)]="view.formData.name" /></mat-form-field
          ><mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Email"
              name="email"
              [(ngModel)]="view.formData.email" /></mat-form-field
          ><mat-form-field appearance="outline">
            <mat-label>Nome de usuário</mat-label>
            <input
              matInput
              placeholder="Usuário"
              name="username"
              [(ngModel)]="view.formData.username"
          /></mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input
              matInput
              type="password"
              placeholder="Senha"
              name="password"
              [(ngModel)]="view.formData.password"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit">
          Registrar
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
